@import "variables";
/* contact */

.active {
    @extend %active;
}

main a {
    @extend %link;
}

main .tabs {
    background: $transparent;
    li {
        background-color: rgba($color6, 0.05);
        background-image: url(../../images/template/paper.png);
        background-blend-mode: screen;
        a {
            @include box(null, 1%);
            

            h3 {
                font-size: 16px;
                @include box();
                @extend %link;
            }
        }
    }
    .tabs-title > a[aria-selected="true"] {
        background-color: rgba($color6, 0.1);
    }
}

.tabs-content {
    background: $transparent;
    border: none;
    .is-active {
    @include box(null, 1rem 0);
    }
    .button {
        @extend %button;
    }
    textarea {
        resize: none;
    }
    legend {
        color: $color1;
    }
}

#main form {
    input {
        background-image: url(../../images/template/paper.png);
    }
    textarea {
    appearance: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    /*  scrollbar color and scrollbar width and overflow-y overlay will not validate */
    scrollbar-color: rgba($color6, 0.25) $color3;
    scrollbar-width: thin;
    /* -webkit-scrollbar will not validate  */
    &::-webkit-scrollbar {
        @include setbox(7px, null, null, null);
    }
    &::-webkit-scrollbar-thumb {
        background: $color3;
    }
    &::-webkit-scrollbar-track {
        background: rgba($color6, 0.25);
    }
    &::-webkit-scrollbar-thumb:hover,  &::-webkit-scrollbar-thumb:focus {
        @extend ::-webkit-scrollbar-thumb;
    }
}
}


blockquote,
cite {
    color: lightShift($color6);
}
