.active {
  text-shadow: 0.25px 0 0 #2b241d;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("./Fonts/OpenSans-Regular.ttf");
}
/* template */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
  font-family: OpenSans-Regular;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.75;
  background-color: rgba(225, 202, 111, 0.075);
  background-image: url(../../images/template/body-mobile.jpg);
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 64em) {
  body::before {
    background-image: url(../../images/template/body.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular;
}

h2 {
  margin: 1rem auto;
  color: #463b2f;
  font-style: oblique;
  font-family: Montserrat-Regular;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  color: #463b2f;
  font-family: OpenSans-Regular;
}

main {
  min-height: 78.92vh;
}
@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}
main i {
  color: #2b241d;
}

.top-bar {
  background-image: url(../../images/template/paper.png);
  background-color: #e1ca6f;
  background-blend-mode: screen;
}
.top-bar .top-bar-right ul {
  background: transparent;
}
.top-bar .top-bar-right ul li a {
  color: #2b241d;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, .top-bar .top-bar-right ul li a:focus {
  color: #f8f8ff;
  text-shadow: none;
}
.top-bar .top-bar-left #my-svg {
  display: inline-block;
  width: 235px;
  height: 100px;
}

.color {
  color: #2b241d;
}

.title-bar {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  background-color: #e1ca6f;
  position: relative;
  z-index: 1;
}
.title-bar .title-bar-title {
  height: 50px;
  color: #f8f8ff;
  font-size: 16px;
}
.title-bar .title-bar-title i {
  position: absolute;
}
.title-bar .title-bar-title i:hover, .title-bar .title-bar-title i:focus {
  color: #2b241d;
}
.title-bar #my-svg-m {
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  padding-top: 15px;
  background-color: #d9bc49;
  color: #2b241d;
  position: relative;
  z-index: 0;
}
footer ul + ul {
  font-size: smaller;
}
footer li a {
  color: #2b241d;
  padding: 0.5rem;
}
footer li a:hover, footer li a:focus {
  color: #f8f8ff;
}
footer .widget {
  margin: 20px auto;
}
footer .widget input,
footer .widget button,
footer .widget label {
  color: #2b241d;
  height: 40px;
  padding: 5px;
  margin: 0;
}
footer .widget input,
footer .widget button {
  cursor: pointer;
}
footer .widget button {
  background-color: rgba(75, 124, 106, 0.5);
}
footer .widget button:hover, footer .widget button:focus {
  background-color: rgba(78, 127, 61, 0.5);
}
footer .widget input {
  background-color: rgba(248, 248, 255, 0.15);
}
footer .widget label {
  display: inline-block;
}
footer .widget ul li {
  list-style-type: none;
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(../../images/template/washi.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* about */
.fi-pencil {
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 40em) {
  .p-left p,
.p-right p {
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 40em) {
  .p-left h3,
.p-right h3 {
    padding: 2rem 1rem 0 1rem;
  }
}

.media-object {
  margin: auto;
}
@media screen and (min-width: 40em) {
  .media-object {
    margin: auto auto 50px auto;
    box-shadow: 0 -1px rgba(43, 36, 29, 0.1), 0 1px rgba(43, 36, 29, 0.1);
  }
}
.media-object .media-object-section:nth-child(2) {
  padding: 0;
}
@media screen and (min-width: 40em) {
  .media-object .media-object-section:nth-child(2) {
    padding: 0 0 0 0.5rem;
  }
}
.media-object .media-object-section:nth-child(1) {
  padding: 0;
}
@media screen and (min-width: 64em) {
  .media-object .media-object-section:nth-child(1) {
    padding: 3%;
  }
}
.media-object .media-object-section:nth-child(1) img {
  width: 100%;
  margin: auto auto 1rem auto;
  border-radius: 17px;
}
@media screen and (min-width: 40em) {
  .media-object .media-object-section:nth-child(1) img {
    width: calc(100% - 0.5rem);
    margin: auto;
  }
}
@media screen and (min-width: 64em) {
  .media-object .media-object-section:nth-child(1) img {
    width: 100%;
  }
}

.rel {
  position: relative;
}

.stick {
  position: sticky;
  top: 1rem;
}
@media screen and (min-width: 64em) {
  .stick {
    top: 15rem;
  }
}

@media screen and (min-width: 40em) {
  #stick-1 {
    padding: 0 1rem 0 0;
  }
}

@media screen and (min-width: 40em) {
  #stick-2 {
    padding: 0 0 0 1rem;
  }
}

.card {
  background-color: rgba(138, 138, 138, 0.1);
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px rgba(43, 36, 29, 0.2), -1px -1px rgba(43, 36, 29, 0.2);
}
.card .card-divider {
  background-color: rgba(138, 138, 138, 0.1);
  font-size: larger;
  color: #2b241d;
}
.card img {
  width: 100%;
  margin: auto;
}
@media screen and (min-width: 40em) {
  .card img {
    border-radius: 2px;
    width: 77.859%;
    margin: 1.5rem auto auto auto;
  }
}
.card h5 {
  font-size: 19.2px;
}

/*# sourceMappingURL=about.css.map */
