main a {
  color: #345428;
}
main a:hover, main a:focus {
  color: #405185;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("./Fonts/OpenSans-Regular.ttf");
}
/* template */
body {
  margin: auto;
  position: relative;
  font-family: OpenSans-Regular;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  background-color: #2b241d;
  background-attachment: fixed;
  background-image: url(../../images/template/body.jpg);
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular;
}

h2 {
  margin: 1rem auto;
  color: #463b2f;
  font-style: oblique;
  font-family: Montserrat-Regular;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  color: #463b2f;
  font-family: OpenSans-Regular;
}

main {
  min-height: 89vh;
}
@media screen and (min-width: 1921px) {
  main {
    width: 1920px;
    margin: auto;
    box-shadow: 1px 0 rgba(43, 36, 29, 0.2), -1px 0 rgba(43, 36, 29, 0.2);
  }
}
@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}
main i {
  color: #2b241d;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 1921px) {
  main.grid-container {
    box-sizing: content-box;
    padding: 0 360px;
  }
}

.top-bar {
  background-image: url(../../images/template/paper.png);
  background-color: #e1ca6f;
  background-blend-mode: screen;
}
@media screen and (min-width: 1921px) {
  .top-bar .top-bar-right {
    margin: auto calc(50vw - 960px) auto auto;
  }
}
.top-bar .top-bar-right ul {
  background: transparent;
}
.top-bar .top-bar-right ul li a {
  color: #2b241d;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, .top-bar .top-bar-right ul li a:focus {
  color: #f8f8ff;
  text-shadow: none;
}
@media screen and (min-width: 1921px) {
  .top-bar .top-bar-left {
    margin: auto auto auto calc(50vw - 960px);
  }
}
.top-bar .top-bar-left #my-svg {
  display: inline-block;
  width: 235px;
  height: 100px;
}

.color {
  color: #2b241d;
}

.title-bar {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  background-color: #e1ca6f;
  position: relative;
  z-index: 1;
}
.title-bar .title-bar-title {
  height: 50px;
  color: #f8f8ff;
  font-size: 16px;
}
.title-bar .title-bar-title i {
  position: absolute;
}
.title-bar .title-bar-title i:hover, .title-bar .title-bar-title i:focus {
  color: #2b241d;
}
.title-bar #my-svg-m {
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  padding: 15px 0 0 0;
  background-color: #d9bc49;
  color: #2b241d;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 1921px) {
  footer > ul.no-bullet {
    margin: auto auto auto calc(50vw - 960px);
  }
}
footer ul + ul.no-bullet {
  font-size: smaller;
}
@media screen and (min-width: 1921px) {
  footer ul + ul.no-bullet {
    margin: auto calc(50vw - 960px) auto auto;
  }
}
footer li a {
  color: #2b241d;
  padding: 0.5rem;
}
footer li a:hover, footer li a:focus {
  color: #f8f8ff;
}
footer .widget {
  margin: 20px auto;
}
footer .widget input,
footer .widget button,
footer .widget label {
  color: #2b241d;
  height: 40px;
  padding: 5px;
  margin: 0;
}
footer .widget input,
footer .widget button {
  cursor: pointer;
  background-image: url(../../images/template/paper.png);
}
footer .widget button {
  background-color: rgba(75, 124, 106, 0.5);
}
footer .widget button:hover, footer .widget button:focus {
  background-color: rgba(78, 127, 61, 0.5);
}
footer .widget input {
  background-color: rgba(248, 248, 255, 0.15);
}
footer .widget label {
  display: inline-block;
}
footer .widget ul li {
  list-style-type: none;
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(../../images/template/washi.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#fixed {
  background-attachment: fixed;
  background-size: 100%;
  background-image: url("../../images/blog/posts-texture.jpg");
  background-repeat: no-repeat;
  background-blend-mode: screen;
  opacity: 0.75;
  background-color: rgba(225, 202, 111, 0.35);
  padding: 4.7%;
}
@media screen and (min-width: 1921px) {
  #fixed {
    width: 1920px;
    margin: auto;
    box-shadow: 1px 0 rgba(43, 36, 29, 0.2), -1px 0 rgba(43, 36, 29, 0.2);
  }
}

main h2 {
  margin: 1rem auto;
}
@media screen and (min-width: 40em) {
  main h2 {
    margin: 50px auto;
  }
}
main h2 a {
  color: #463b2f;
  font-style: oblique;
  text-shadow: 0 0 2.5px #2b241d;
  font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
  main h2 a {
    font-size: 2.5rem;
  }
}
main h2 a:hover, main h2 a:focus {
  color: #405185;
}

/*# sourceMappingURL=blog.css.map */
