.sticky-ul li a {
  color: #4E7F3D;
}
.sticky-ul li a:hover, .sticky-ul li a:focus {
  color: #566CAE;
}

.active {
  text-shadow: 0.25px 0 0 #2b241d;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
/* template */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.7;
  background-color: rgba(225, 202, 111, 0.125);
  background-image: url(../../images/template/body-mobile.jpg);
  background-position: center center;
  background-size: contain;
}
@media screen and (min-width: 64em) {
  body::before {
    background-image: url(../../images/template/body.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1rem auto;
  color: #493e32;
  font-style: oblique;
  font-family: Montserrat-Regular;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  color: #493e32;
}

main {
  min-height: 78.92vh;
}
@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}
main i {
  color: #2b241d;
}

.top-bar {
  background-image: url(../../images/template/paper.png);
  background-color: #e1ca6f;
  background-blend-mode: screen;
}
.top-bar .top-bar-right ul {
  background: transparent;
}
.top-bar .top-bar-right ul li a {
  color: #2b241d;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, .top-bar .top-bar-right ul li a:focus {
  color: #f8f8ff;
  text-shadow: none;
}
.top-bar .top-bar-left #my-svg {
  display: inline-block;
  width: 235px;
  height: 100px;
}

.color {
  color: #2b241d;
}

.title-bar {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  background-color: #e1ca6f;
  position: relative;
  z-index: 1;
}
.title-bar .title-bar-title {
  height: 50px;
  color: #f8f8ff;
  font-size: 16px;
}
.title-bar .title-bar-title i {
  position: absolute;
}
.title-bar .title-bar-title i:hover, .title-bar .title-bar-title i:focus {
  color: #2b241d;
}
.title-bar #my-svg-m {
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer {
  background-image: url(../../images/template/paper.png);
  background-blend-mode: screen;
  padding-top: 15px;
  background-color: #d8ba45;
  color: #2b241d;
  position: relative;
  z-index: 0;
}
footer li a {
  color: #2b241d;
  padding: 0.5rem;
}
footer li a:hover, footer li a:focus {
  color: #f8f8ff;
}
footer .widget {
  margin: 20px auto;
}
footer .widget input,
footer .widget button,
footer .widget label {
  color: #2b241d;
  height: 40px;
  padding: 5px;
  margin: 0;
}
footer .widget input,
footer .widget button {
  cursor: pointer;
}
footer .widget button {
  background-color: rgba(75, 124, 106, 0.5);
}
footer .widget button:hover, footer .widget button:focus {
  background-color: rgba(78, 127, 61, 0.5);
}
footer .widget input {
  background-color: rgba(248, 248, 255, 0.15);
}
footer .widget label {
  display: inline-block;
}
footer .widget ul li {
  list-style-type: none;
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(../../images/template/washi.png);
  background-position: center center;
  background-repeat: no-repeat;
}

/* home */
.hover {
  margin: 1rem auto;
  box-shadow: 0 -1px rgba(43, 36, 29, 0.1);
}
@media screen and (min-width: 64em) {
  .hover {
    margin: 1rem auto 21vh auto;
    box-shadow: 0 1px rgba(43, 36, 29, 0.1), 0 -1px rgba(43, 36, 29, 0.1);
  }
}
.hover .tabs-title > a[aria-selected=true],
.hover .tabs-title > a:hover,
.hover .tabs-title > a:focus {
  background: transparent;
}
.hover .hover-box {
  position: relative;
  display: inline-block;
  max-width: 170px;
  width: 100%;
}
.hover .hover-box *, .hover .hover-box:before, .hover .hover-box:after {
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.hover .hover-box:before, .hover .hover-box:after {
  box-sizing: border-box;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid #493e32;
  border-color: transparent #493e32;
}
.hover .hover-box img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 9px;
  opacity: 0.7;
}
.hover .hover-box figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-radius: 50%;
}
.hover .hover-box h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #0d0b08;
  font-size: 12px;
  padding: 0 5%;
  font-weight: 500;
  background-color: #eada99;
  border-radius: 16px;
}
@media screen and (min-width: 40em) {
  .hover .hover-box h3 {
    font-size: 14px;
  }
}
.hover .hover-box:hover img, .hover .hover-box:focus img {
  opacity: 1;
}
.hover .hover-box:hover:before, .hover .hover-box:hover:after, .hover .hover-box:focus:before, .hover .hover-box:focus:after {
  border-width: 10px;
}
.hover .hover-box:hover:before, .hover .hover-box:focus:before {
  transform: rotate(45deg);
}
.hover .hover-box:hover:after, .hover .hover-box:focus:after {
  transform: rotate(-45deg);
}

.tabs-content {
  background-color: transparent;
  box-shadow: 0 -1px rgba(43, 36, 29, 0.2);
  border: none;
  margin: 0;
  padding: 0;
}
.tabs-content .tabs-panel.is-active {
  min-height: 85.8vh;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 40em) {
  .tabs-content .tabs-panel.is-active {
    position: relative;
  }
  .tabs-content .tabs-panel.is-active::before {
    position: absolute;
    content: "";
    top: 0;
    right: 75%;
    bottom: 0;
    left: 0;
    background-image: url(../../images/home/side-1.png);
    box-shadow: 1px 0 rgba(43, 36, 29, 0.2);
  }
}
@media screen and (min-width: 40em) and (min-width: 64em) {
  .tabs-content .tabs-panel.is-active::before {
    right: 83.34%;
  }
}

.sticky-ul {
  background-image: url(../../images/home/side.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  color: #2b241d;
  padding: 1rem 1rem 0 1rem;
  font-size: 14.5px;
}
@media screen and (min-width: 40em) {
  .sticky-ul {
    height: 221px;
    padding: 1rem 1rem 0 1rem;
    position: sticky;
    top: 0;
  }
}
.sticky-ul li a {
  margin: 0;
  padding: 0;
}
.sticky-ul li.last {
  font-size: 12.5px;
  color: #717171;
}
.sticky-ul .fi-list {
  font-size: 11px;
}

section h4 {
  color: #2b241d;
  margin: 1rem 2rem 0 0;
}
section .top-link {
  position: sticky;
  top: 0;
  right: 10px;
  margin: 0 1.75rem 0 0;
}
@media screen and (min-width: 40em) {
  section .top-link {
    top: 10px;
    margin: 0 2.5rem 0 0;
  }
}
section .top-link i {
  font-size: medium;
  color: #4B7C6A;
}
@media screen and (min-width: 40em) {
  section .top-link i {
    font-size: 20px;
  }
}
section .top-link i:hover, section .top-link i:focus {
  color: #e1ca6f;
}
section .gallery {
  padding: 2.5rem;
}
@media screen and (min-width: 40em) {
  section .gallery {
    padding: 2.5rem 5rem;
  }
}

/*# sourceMappingURL=home.css.map */
