footer {
    background-image: url(../images/template/paper.png);
    background-blend-mode: screen;
    padding-top: 15px;
    background-color: $color3;
    color: $color1;
    position: relative;
    z-index: 1;
    .menu li a {
        color: $color1;
        @include box(null, 0.5rem);
        &:hover,
        &:focus {
            color: $white;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-image: url(../images/template/washi.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
}
