.top-bar {
    background-image: url(../../images/template/paper.png);
    background-color: $color3;
    background-blend-mode: screen;
    .top-bar-right ul {
        background: $transparent;
        li a {
            color: $color1;
            @include box(null, 0.5rem);
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}

.title-bar {
    background-image: url(../../images/template/paper.png);
    background-blend-mode: screen;
    background-color: $color3;
    .title-bar-title,
    .menu-icon {
        color: $white;
    }
}