.top-bar {
    background-image: url(../../images/template/paper.png);
    background-color: $color3;
    background-blend-mode: screen;
    .top-bar-right ul {
        background: $transparent;
        li a {
            color: $color1;
            @include box(null, 0.5rem);
            &:hover,
            &:focus {
                color: $white;
                text-shadow: none;
            }
        }
    }
    .top-bar-left {
        #my-svg {
            display: inline-block;
            height: 100px;
            width: 235px;
        }
    }
}

.title-bar {
    background-image: url(../../images/template/paper.png);
    background-blend-mode: screen;
    background-color: $color3;
    font-size: 13px;
    .title-bar-title,
    .menu-icon {
        color: $white;
    }
    #my-svg-m {
        display: inline-block;
        height: 50px;
        width: 50px;
    }
}