/* template */
body {
    @include setbox(null, null, null, auto);
    font-family: OpenSans-Regular;
    &::before {
        position: sticky;
        display: block;
        height: 100vh;
        margin-top: -100vh;
        content: "";
        top: 0;
        z-index: -999;
        background-blend-mode: screen;
        opacity: 0.75;
        background-color: rgba($color3, 0.075);
        background-image: url(../../images/template/body-mobile.jpg);
        background-position: center;
        background-size: contain;
        @include large_and_up {
            background-image: url(../../images/template/body.jpg);
            background-size: cover;
        }
    }
}

h1 {
    font-size: inherit;
    @include box();
    font-family: OpenSans-Regular;
}

h2 {
    @include setbox(null, null, null, 1rem auto);
    color: darkShift($color1);
    font-style: oblique;
    font-family: Montserrat-Regular;
    text-shadow: 0 0 2.5px $color1;
    @include medium_and_up() {
        @include setbox(null, null, null, 50px auto);
    }
}

h3,
h4,
h5 {
    color: darkShift($color1);
    font-family: OpenSans-Regular;
}

main {
    min-height: 89vh;
    @include x_large_and_up {
        @include setbox(1920px, null, null, auto);
        box-shadow: 1px 0 rgba($color1, 0.2), -1px 0 rgba($color1, 0.2);
    }
    @include medium_and_up() {
        > * {
            margin-bottom: 50px;
        }
    }
    i {
        color: $color1;
        @include box(0 0 1rem 0, null);
    }
}

main.grid-container {
    @include x_large_and_up {
        box-sizing: content-box;
        @include setbox(null, null, 0 360px, null);
    }
}

@import "./header";

@import "./footer";
